
/* Navbar styling */

/* @charset "UTF-8"; */
/* @charset "UTF-8"; */
/* @import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap"); */

* {
  box-sizing: border-box;
}

html {
  font-size: 6.25vmax;
  scroll-behavior: smooth;
}
@media (max-width: 992px) {
  html {
    font-size: 60px;
  }
}

body {
  min-height: 100vh;
  color: #dfe5df;
  font-size: 0.24rem;
  font-family: "Gill Sans", sans-serif;
  background-image: url("images/bacground.jpeg");
}
body:has(#home:target) a[data-anchor=home]:before {
  opacity: 1;
  visibility: visible;
  translate: 0 0;
}
/* body:has(#random:target) a[data-anchor=random]:before {
  opacity: 1;
  visibility: visible;
  translate: 0 0;
} */
body:has(#about_me:target) a[data-anchor=about_me]:before {
  opacity: 1;
  visibility: visible;
  translate: 0 0;
}
body:has(#game:target) a[data-anchor=game]:before {
  opacity: 1;
  visibility: visible;
  translate: 0 0;
}

nav {
  position: fixed;
  top: 0.3rem;
  left: 0;
  right: 0;
  width: 90%;
  margin: auto;
  padding: 0.1rem 1rem;
  box-shadow: 0 0 10px rgba(154, 129, 129, 0.333);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  border-radius: 0.5rem;
  backdrop-filter: blur(10px);
  background-color: #fff2;
  overflow: hidden;
  z-index: 100;
}
nav a {
  position: relative;
  display: inline-block;
  padding: 0.1rem;
  color: inherit;
  text-decoration: none;
  text-shadow: 0 0 5px rgba(222, 211, 211, 0.8);
  letter-spacing: 2px;
}
nav a:before {
  content: "★";
  position: absolute;
  right: 100%;
  font-family: "Potta One", system-ui;
  font-size: 0.9em;
  opacity: 0;
  visibility: hidden;
  translate: 0 10px;
  transition: all 0.3s;
  pointer-events: none;
}
nav .progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.08rem;
  background-image: linear-gradient(to right, #8ad4ff, #fa7196);
  border-radius: 0.1rem;
  animation: progressMove linear both;
  animation-timeline: scroll(block root);
}

section {
  width: 100%;
  height: 100dvh;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: no-repeat center/cover;
  overflow: hidden;
}
section:target h1 {
  animation: showText 0.5s 0.5s both;
}
section h1 {
  letter-spacing: 0.1rem;
  font-size: 1rem;
  text-transform: uppercase;
  mix-blend-mode: soft-light;
  text-shadow: 0 0 10px rgba(215, 185, 185, 0.687);
}

@keyframes showText {
  from {
    opacity: 0;
    translate: 0 0.3rem;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes progressMove {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
